@use "../../../styles/responsive.scss" as *;

.choose {
  background: #121212;
  border-radius: 30px;

  .choose-container {
    padding: 100px 0px;
    max-width: 1200px;
    margin: auto;
    display: flex;

    @include xl {
      padding: 100px 10px;
    }

    @include lg {
      flex-direction: column;
      max-width: 750px;
      gap: 40px;
    }

    .choose-left {
      flex: 4;
      p {
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        .dot {
          height: 10px;
          width: 10px;
          background: $primary-color;
          border-radius: 50%;
        }
      }

      h3 {
        color: #b3b3b3;
        line-height: 1.8;
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;

        @include sm {
          font-size: 16px;
        }
      }
    }
    .choose-right {
      flex: 6;
      padding-left: 60px;

      @include lg {
        padding-left: 0px;
      }
      .choose-right-items {
        .choose-right-item {
          border-bottom: 2px solid #fff;
          transition: all 0.3s ease-in-out;
          margin-bottom: 50px;

          @include md {
            margin-bottom: 30px;
          }

          &:hover {
            border-bottom: 2px solid $primary-color;

            .choose-right-item-top {
              color: $primary-color;
            }
          }
          .choose-right-item-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 22px;
            color: #fff;
            padding-bottom: 10px;
            cursor: pointer;

            .icon {
              font-size: 30px;
              transition: transform 0.3s ease;
              margin-top: 5px;
            }

            h3 {
              font-weight: 300;
              transition: all 0.3s ease-in-out;

              @include md {
                font-size: 22px;
              }

              @include sm {
                font-size: 18px;
              }
            }
          }

          .choose-right-item-desc {
            p {
              padding: 15px 0px 20px 0px;
              font-size: 17px;
              color: #b3b3b3;
              line-height: 1.7;

              @include sm {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
