@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  .error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .error-desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      color: #fff;
      text-transform: capitalize !important;

      p {
        text-transform: capitalize !important;
      }

      &.dif-err {
        color: #000;
      }

      button {
        padding: 5px 10px;
        background: #2671fe;
        color: #fff;
        border: none;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background: #1c448f;
        }
      }
    }
  }

  button,
  input,
  textarea {
    font-family: "Public Sans", sans-serif;
  }

  .primary-btn {
    margin-top: 30px;
    border: 1px solid #ddd;
    padding: 15px 30px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
    &:hover {
      background: #121212;
      color: #fff;
    }
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  background-color: #000;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #2671fe;
  border-radius: 5px;
}

/* Remove scrollbar arrows */
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
