@use "../../../styles/responsive.scss" as *;

.aboutPeople {
  background: #121212;
  border-radius: 30px;

  .aboutPeople-container {
    max-width: 800px;
    padding: 100px 0px;
    margin: auto;

    @include md {
      padding: 100px 10px;
    }

    .aboutPeople-top {
      p {
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 16px;
        text-transform: uppercase;
        color: #b3b3b3;
        font-weight: 600;
        .dot {
          height: 10px;
          width: 10px;
          background: $primary-color;
          border-radius: 50%;
        }
      }
    }
    .aboutPeople-desc {
      color: #fff;
      h2 {
        font-size: 25px;
        font-family: $heading-font;
        margin-top: 20px;
        line-height: 1.5;

        @include md {
          font-size: 20px;
        }

        @include sm {
          font-size: 18px;
        }
      }

      p {
        color: #b3b3b3;
        line-height: 1.7;
        font-size: 18px;
        font-weight: 500;
        margin-top: 40px;

        @include sm {
          font-size: 16px;
        }
      }

      button {
        margin-top: 40px;
        border: 1px solid #ddd;
        padding: 15px 30px;
        font-size: 18px;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
        font-weight: 500;
        background: transparent;
        color: #fff;
        cursor: pointer;
        &:hover {
          background: #fff;
          color: #000;
        }
      }
    }
  }
}
