@use "../../../styles/responsive.scss" as *;

.support {
  background: #f1f1f1;

  .support-service-slider {
    padding: 100px 0px;
    max-width: 1200px;
    margin: auto;
  }

  .support-top {
    padding: 100px 0px 0px 0px;
    max-width: 1200px;
    margin: auto;

    @include xl {
      padding: 100px 10px 0px 10px;
    }

    h2 {
      font-size: 30px;
      font-family: $heading-font;
      line-height: 1.5;

      @include sm {
        font-size: 22px;
      }
    }

    p {
      font-size: 18px;
      color: #7c7c7c;
      line-height: 1.5;
      margin-top: 30px;
      font-weight: 500;
      width: 70%;

      @include md {
        width: 100%;
      }

      @include sm {
        font-size: 16px;
      }
    }
  }

  .support-user {
    display: flex;
    max-width: 1200px;
    padding: 100px 0px;
    margin: auto;
    gap: 10%;

    @include xl {
      padding: 100px 40px;
    }

    @include lg {
      flex-direction: column;
      max-width: 750px;
      gap: 40px;
      padding: 100px 20px;
    }

    @include sm {
      padding: 100px 10px;
    }
    .support-user-left {
      flex: 1;

      h2 {
        font-size: 25px;
        font-family: $heading-font;
        line-height: 1.5;

        @include sm {
          font-size: 18px;
        }
      }

      p {
        font-size: 18px;
        color: #7c7c7c;
        line-height: 1.5;
        margin-top: 30px;
        font-weight: 500;

        @include sm {
          font-size: 16px;
        }
      }

      button {
        border: 1px solid #ddd;
        padding: 15px 30px;
        font-size: 18px;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
        margin-top: 30px;

        &:hover {
          background: #121212;
          color: #fff;
        }
      }
    }
    .support-user-right {
      flex: 1;

      img {
        width: 100%;
        border-radius: 20px;
      }
    }
  }

  .support-teams {
    background: #121212;
    margin-top: 100px;
    border-radius: 30px;
    .support-teams-container {
      padding: 100px 0px;
      max-width: 1200px;
      margin: auto;

      @include xl {
        padding: 100px 40px;
      }

      @include sm {
        padding: 100px 10px;
      }

      .support-teams-top {
        p {
          display: flex;
          align-items: center;
          gap: 7px;
          flex: 3;
          font-size: 16px;
          color: #b3b3b3;
          text-transform: uppercase;
          font-weight: 500;

          .dot {
            height: 10px;
            width: 10px;
            background: #ff7555;
            border-radius: 50%;
          }
        }

        h2 {
          font-size: 30px;
          color: #fff;
          margin-top: 20px;
          font-family: $heading-font;
        }
      }

      .support-cards {
        margin: 30px 0px 0px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;

        @include sm {
          grid-template-columns: repeat(2, 1fr);
        }
        .support-card {
          img {
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
}
